.text {
    color: white !important;
}

.form {
    margin-top: 2rem;
    width: 50%;
}

.search {
    border: 3px solid blue;
    margin-bottom: 5px;
    padding: 5px;
}

.link {
    text-decoration: none;
    color: black;
    font-weight: bold;
}